
<form action="/meeting/store" method="post" class="form-signin">
  <h2 class="form-signin-heading">Please schedule meeting</h2>
  <label for="username"  class=" ">subject</label>
  <input type="text" id="subject" name="subject" class="form-control" placeholder="subject" required autofocus>

  <label for="description"  class=" ">description</label>
  <input type="text" id="description" name="description" class="form-control" placeholder="description" required autofocus>

  <label for="timezone"  class=" ">timezone</label>
  <input type="text" id="timezone" name="timezone" class="form-control" placeholder="timezone" required autofocus>

  <label for="startTime"  class=" ">startTime</label>
  <input type="text" id="startTime" name="startTime" class="form-control" placeholder="startTime" required autofocus>

  <label for="endTime"  class=" ">endTime</label>
  <input type="text" id="endTime" name="endTime" class="form-control" placeholder="endTime" required autofocus>

  <label for="location"  class=" ">location</label>
  <input type="text" id="location" name="location" class="form-control" placeholder="location" required autofocus>

  <label for="attendees"  class=" ">attendees</label>
  <input type="text" id="attendees" name="attendees" class="form-control" placeholder="attendees" required autofocus>
  <input class="btn btn-lg btn-primary btn-block" type="submit">
</form>
