<!-- Start Host Page Area -->
<section class="price-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Choose Your Plan</h1>
					<p>When someone does something that they know that they shouldn’t do, did they.</p>
				</div>
			</div>
		</div>					
		<div class="row">
			<div class="col-lg-3 col-md-6 single-price" onclick="window.location.href='/meetingRoom';">
				<div class="top-part">
					<h1 class="package-no"><img src="images/icons/video-on.png" width="80" /></h1>
					<h4>Start with video</h4>
				</div>
				<!-- <div class="bottom-part">
					<a class="price-btn text-uppercase" href="#">Start</a>
				</div> -->
			</div>
			<div class="col-lg-3 col-md-6 single-price" onclick="window.location.href='/meetingRoom';">
				<div class="top-part">
					<h1 class="package-no"><img src="images/icons/video-off.png" width="80" /></h1>
					<h4>Start without video</h4>
				</div>
				<!-- <div class="bottom-part">
					<a class="price-btn text-uppercase" href="#">Start</a>
				</div> -->
			</div>
			<div class="col-lg-3 col-md-6 single-price" onclick="window.location.href='/meetingRoom';">
				<div class="top-part">
					<h1 class="package-no"><img src="images/icons/schedule.png" width="80" /></h1>
					<h4>Schedule</h4>
				</div>
				<!-- <div class="bottom-part">
					<a class="price-btn text-uppercase" href="#">Start</a>
				</div> -->
			</div>
			<div class="col-lg-3 col-md-6 single-price" onclick="window.location.href='/meetingRoom';">
				<div class="top-part">
					<h1 class="package-no"><img src="images/icons/share-screen.png" width="80" /></h1>
					<h4>Share screen</h4>
				</div>
				<!-- <div class="bottom-part">
					<a class="price-btn text-uppercase" href="#">Start</a>
				</div> -->
			</div>																		
		</div>
	</div>	
</section>
<!-- End Host Page Area -->