{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="assets/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<base href="/">
	<!-- Site Title -->
	<title>Personal</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="assets/css/linearicons.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/nice-select.css">							
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.css">				
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/custom.css">
	</head>
	<body>	
	  <header id="header">
	    <div class="container main-menu" style="padding: 5px;">
	    	<div class="row align-items-center justify-content-between d-flex">
		      <div id="logo">
		        <a href="/"><img src="assets/img/logo.png" height="80" alt="" title="" /></a>
		      </div>
		      <nav id="nav-menu-container">
		        <ul class="nav-menu">
		          <li><a href="/join">Join A Meeting</a></li>
		          <!-- <li><a href="pages/services.html">Services</a></li> -->
		          <!-- <li><a href="pages/portfolio.html">Portfolio</a></li> -->
		          <li class="menu-has-children"><a href="/host">Host A Meeting</a>
		            <ul>
		              <li><a href="/meeting/create/1347">With Video Off</a></li>
		              <li><a href="/meeting/create/2468">With Video On</a></li>
		              <li><a href="/meeting/create/3579">Screen Share Only</a></li>
		            </ul>
		          </li>	
		          <!-- <li class="menu-has-children"><a href="">Pages</a>
		            <ul>
	            	  <li><a href="pages/elements.html">Elements</a></li>
			          <li class="menu-has-children"><a href="">Level 2 </a>
			            <ul>
			              <li><a href="#">Item One</a></li>
			              <li><a href="#">Item Two</a></li>
			            </ul>
			          </li>					                		
		            </ul>
		          </li> -->
		          <li><a href="/auth">Sign In</a></li>
		          <li><a href="/register">Sign Up</a></li>
		        </ul>
		      </nav><!-- #nav-menu-container -->		    		
	    	</div>
	    </div>
	  </header><!-- #header -->

		<!-- start banner Area -->
		<section class="banner-area">
			<div class="row fullscreen align-items-center justify-content-between" style="margin: 0px;">
				<div class="col-lg-12 col-md-12 banner-right d-flex align-self-end" style="padding: 0px;">
					<img class="img-fluid" src="assets/img/pages/01.jpg" style="height: -webkit-fill-available;" alt="">
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<!-- Start home-about Area -->
		<section class="home-about-area pt-120">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6 col-md-6 home-about-left">
						<img class="img-fluid" src="images/DGD_Heiko_Jonny_Manieroo_L.jpg" alt="">
					</div>
					<div class="col-lg-5 col-md-6 home-about-right">
						<h6>About Me</h6>
						<h1 class="text-uppercase">Personal Details</h1>
						<p>
							Mr. Maniero is a jurist and supervises our clients as an external data protection officer and data protection auditor. He is one of the three shareholders and authorized representative at the German Association for Data Protection.
						</p>
						<a href="#" class="primary-btn text-uppercase">View Full Details</a>
					</div>
				</div>
			</div>	
		</section>
		<!-- End home-about Area -->

		<!-- Start services Area -->
		<section class="services-area section-gap">
			<div class="container">
	            <div class="row d-flex justify-content-center">
	                <div class="menu-content  col-lg-7">
	                    <div class="title text-center">
	                        <h1 class="mb-10">Our Offered Services</h1>
	                    </div>
	                </div>
	            </div>						
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<h1><i class="fa fa-video-camera"></i></h1>
							<a href="#"><h4>meeting</h4></a>
							<p>
								HD video and high quality sound
								Video participants allow up to 500 people
								Screen sharing function and a series of collaboration functions
								Record your meetings to the cloud with auto-generated transcripts

							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<h1><i class="fa fa-group"></i></h1>
							<a href="#"><h4>Video webinar</h4></a>
							<p>
								A maximum of 100 people can interact with the video, which is ideal for panels
								Prepare packages that can accommodate attendees only from 100 to 10,000 viewers
								Can post videos on Facebook Live and YouTube
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-services">
							<h1><span class="fa fa-commenting"></span></h1>
							<a href="#"><h4>Business IM</h4></a>
							<p>
								Start instant group video meeting
								Share desktop or mobile document on screen
								Collaboration, joint annotation, storage, sharing possible
							</p>
						</div>	
					</div>
				</div>
			</div>	
		</section>
		<!-- End services Area -->	

		<!-- Start fact Area -->
		<!-- <section class="facts-area section-gap" id="facts-area">
			<div class="container">				
				<div class="row">
					<div class="col-lg-4 col-md-4 single-fact">
						<h1 class="counter">2536</h1>
						<p>Joined Members</p>
					</div>
					<div class="col-lg-4 col-md-4 single-fact">
						<h1 class="counter">6784</h1>
						<p>All Visited Numbers</p>
					</div>
					<div class="col-lg-Z col-md-4 single-fact">
						<h1 class="counter">2239</h1>
						<p>All Reviews</p>
					</div>
				</div>
			</div>	
		</section> -->
		<!-- end fact Area -->	

		<!-- Start portfolio-area Area -->
        
		<section class="recent-blog-area section-gap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 pb-30 header-text">
						<h1>AbleToMeet Work</h1>
					</div>
				</div>
				<div class="row">	
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/1.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/2.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/3.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/4.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/5.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/6.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/7.jpg" alt="">	
						</div>
					</div>
					<div class="single-recent-blog col-lg-3 col-md-3 pb-30">
						<div class="thumb">
							<img class="f-img img-fluid mx-auto" src="images/portfolio/8.jpg" alt="">	
						</div>
					</div>
				</div>
			</div>	
		</section>
        <!-- End portfolio-area Area -->	

		<!-- Start testimonial Area -->
	    <!-- <section class="testimonial-area section-gap">
	        <div class="container">
	            <div class="row d-flex justify-content-center">
	                <div class="menu-content pb-70 col-lg-8">
	                    <div class="title text-center">
	                        <h1 class="mb-10">Client’s Feedback About Me</h1>
	                        <p>It is very easy to start smoking but it is an uphill task to quit it. Ask any chain smoker or even a person.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="active-testimonial">
	                    <div class="single-testimonial item d-flex flex-row">
	                        <div class="thumb">
	                            <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
	                        </div>
	                        <div class="desc">
	                            <p>
	                                Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.		     
	                            </p>
	                            <h4>Harriet Maxwell</h4>
	                            <p>CEO at Google</p>
	                        </div>
	                    </div>
	                    <div class="single-testimonial item d-flex flex-row">
	                        <div class="thumb">
	                            <img class="img-fluid" src="assets/img/elements/user2.png" alt="">
	                        </div>
	                        <div class="desc">
	                            <p>
	                                A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
	                            </p>
	                            <h4>Carolyn Craig</h4>
	                            <p>CEO at Facebook</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section> -->
	    <!-- End testimonial Area -->
	
	    <!-- Start brands Area -->
	    <section class="brands-area">
	        <div class="container">
	            <div class="brand-wrap">
	                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
	                    <div class="col single-brand">
	                        <a href="#"><img class="mx-auto" src="assets/img/l1.png" alt=""></a>
	                    </div>
	                    <div class="col single-brand">
	                        <a href="#"><img class="mx-auto" src="assets/img/l2.png" alt=""></a>
	                    </div>
	                    <div class="col single-brand">
	                        <a href="#"><img class="mx-auto" src="assets/img/l3.png" alt=""></a>
	                    </div>
	                    <div class="col single-brand">
	                        <a href="#"><img class="mx-auto" src="assets/img/l4.png" alt=""></a>
	                    </div>
	                    <div class="col single-brand">
	                        <a href="#"><img class="mx-auto" src="assets/img/l5.png" alt=""></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- End brands Area -->			

        <!-- start footer Area -->
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About</h4>
                            <p>
                                We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
                            </p>
                            <p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Newsletter</h4>
                            <p>Stay updated with our latest trends</p>
							<div class="" id="mc_embed_signup">
								 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
								  <div class="input-group">
								    <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required="" type="email">
								    <div class="input-group-btn">
								      <button class="btn btn-default" type="submit">
								        <span class="lnr lnr-arrow-right"></span>
								      </button>    
								    </div>
								    	<div class="info"></div>  
								  </div>
								</form> 
							</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                        <div class="single-footer-widget">
                            <h4>Follow Me</h4>
                            <p>Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->		

		<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/vendor/bootstrap.min.js"></script>			
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>			
			<script src="assets/js/easing.min.js"></script>			
		<script src="assets/js/hoverIntent.js"></script>
		<script src="assets/js/superfish.min.js"></script>	
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>	
		<script src="assets/js/jquery.tabs.min.js"></script>						
		<script src="assets/js/jquery.nice-select.min.js"></script>	
        <script src="assets/js/isotope.pkgd.min.js"></script>			
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/simple-skillbar.js"></script>							
		<script src="assets/js/owl.carousel.min.js"></script>							
		<script src="assets/js/mail-script.js"></script>	
		<script src="assets/js/main.js"></script>	
	</body>
</html>