<style type="text/css">
	.for-link:hover {
		text-decoration: underline;
	}
</style>
<!-- Start Join Page Area -->
<section class="home-about-area pt-120 mt-30">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			
			<div class="col-lg-4 col-md-5 home-about-right mb-100" style="margin-left: auto; margin-right: auto;">
				<h1 class="text-uppercase" style="text-align: center;">Sign Up</h1>
				<form action="/auth/signup" method="post">
				  	<div class="form-group pt-15">
					    <input type="email" class="form-control" name="email" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required="" style="height: 54px;">
					</div>
					<div class="form-group pt-15">
					    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required="" style="height: 54px;">
					</div>
					<div class="form-group pt-15">
					    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" style="height: 54px;">
					</div>
					<div class="form-group pt-15">
					    <input type="text" class="form-control" name="username" id="username" placeholder="username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'username'" required="" style="height: 54px;">
					</div>
					<div class="form-group pt-15">
					    <input type="password" class="form-control" name="password" id="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required="" style="height: 54px;">
					</div>
					<div class="form-group pt-15">
						<button type="submit" class="form-control primary-btn text-uppercase">Sign Up</button>
					</div>
				</form>
				<hr>
				<div class="form-group" style="text-align: center;">
					Do you have already have an account? <a href="/auth/signin" class="text-uppercase for-link">Sign in</a>
				</div>
				<div>
			</div>
		</div>
	</div>	
</section>
<!-- End Join Page Area -->

